.article {
  max-width: 900px;
  text-align: left;
  background-color: rgb(255, 255, 255);
  padding: 16px;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 4px rgba(71, 69, 69, 0.5);
}

.articleTitle {
  font-weight: 600;
  font-size: 24px;
  text-align: left;
  color: #1890ff;
  text-decoration: none;
  max-width: 650px;
  word-wrap: break-word;
}

.articleTitle,
.description,
.tags,
.body {
  max-width: 650px;
  word-wrap: break-word;
  margin-left: 10px;
}

p img {
  width: 500px;
}

.articleUserImg {
  margin-left: 5px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.articleAuthor {
  display: flex;
}

.wrap {
  display: flex;
  justify-content: space-between;
}

.articleTags {
  cursor: pointer;
  padding: 2px 10px;
  border: 1px solid black;
  background-color: inherit;
  border-radius: 2px;
  margin-right: 5px;
}

.description {
  color: rgba(56, 54, 54, 0.5);
}

.btnDelete,
.btnEdit {
  cursor: pointer;
  padding: 8px 16px;
  color: #f5222d;
  background-color: white;
  border: 1px solid #f5222d;
  border-radius: 4px;
  margin-left: 15px;
}
.btnEdit {
  margin-right: 5px;
  border: 1px solid rgba(82, 196, 26, 1);
  color: rgba(82, 196, 26, 1);
}

.articleChange {
  display: flex;
  justify-content: space-between;
}

.actions {
  margin-right: 20px;
}
