.signIn {
    background-color: white;
    border-radius: 6px;
    display: inline-block;
    padding: 50px 30px;
    margin-top: 60px;
}

.wrap {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.password , .email {
    width: 320px;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #D9D9D9;
    outline: none;

}

.btnLogin {
    cursor: pointer;
    display: block;
    width: 320px;
    background-color: #1890FF;
    color: white;
    padding: 8px 0;
    border: none;
    border-radius: 4px;
    margin: 20px auto 10px auto;
}

.labelEmail {
    margin-top: 20px;
    margin-bottom: 5px;
}

.labelPassword {
    margin-top: 10px;
    margin-bottom: 5px;
}

.info {
    color: #8C8C8C;
}

.info a {
    color: #1890FF;
    text-decoration: none;
}