.wrap {
    background-color: white;
    padding: 20px 50px;
    min-width: 900px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.signIn {
    margin-right: 30px;
}

.title {
    font-size: 18px;
    color: #000000D9;
    text-decoration: none;
}

.signIn , .signUp {
    color:  black;
    text-decoration: none;
}

.active {
    padding: 10px 15px;
    background-color:white;
    border: 1px solid #52C41A;
    border-radius: 5px;
    color: #52C41A;
}

